#menu {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(234, 211, 255);
	padding: 1rem;
	margin-bottom: .5rem;
}

form {
	display: flex;
	align-items: center;
}

.form-label {
	display: flex;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
	height: 2rem;
}

.form-label:hover {
	background-color: rgb(160, 196, 255);
}